<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BHLRV6D00"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4BHLRV6D00');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjaを作る！</title>
    <link rel="icon" href="../バイクアイコン.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h3 class="text-center py-3 border-bottom">Day14 塗装②エンジン</h3>
    </header>
    <main class="mb-5">
      <div class="day-container">
        <div class="sentence">
          <br>
          <p>久々にブログ更新します。</p>
          <br>
          <br>
          <br>
          <p>今回はエンジンの周辺パーツを塗装して組み合わせていきます！</p>
          <br>
          <p>今回の塗装するパーツはこんな感じです</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0952.jpg">
          <br>
          <br>
          <br>
          <p>まずはサーフェイサーを塗布</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0953.jpg">
          <br>
          <br>
          <br>
          <p>手慣れたもんです。</p>
          <br>
          <p>これらのパーツを塗装していくんですが、、、</p>
          <p>パーツごとに写真撮るの忘れてました(汗)</p>
          <br>
          <p>もうできあがったやつ見せちゃいます！</p>
          <p>こないだのエンジンに今回塗装したパーツを装着していくと、、、</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/engine2.jpg">
          <br>
          <br>
          <p>なかなか良い感じじゃないでしょうか笑</p>
          <br>
          <br>
          <p>組立時と比較してみましょう</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/engine4.jpg">
          <br>
          <br>
          <p>塗装したほうがつやはありますよね(所感)</p>
          <p>ちなみになんですが、、、</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/engine3.jpg">
          <br>
          <br>
          <p>図の赤丸で囲った部分なんかは綿棒でちょんちょんと塗装してます</p>
          <p>(細部にまでこだわります)</p>
          <p>ただ実はそんなにきれいに塗れてないんだよな～</p>
          <p>塗装難しい。</p>
          <br>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom text-center py-2">
        <a href="day13.html" class="previous">&laquo; 前へ</a>
        <a href="../index.html" class="top mx-5">Top</a>
        <a href="day15.html" class="next">次へ &raquo;</a>
        <!-- <a href="../index.html" class="next">次へ &raquo;</a> -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function(){
        'use strict';
        $('[data-toggle="tool-tip"]').tooltip();
      });
    </script>
</body>
</html>