<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjaを作る！</title>
    <link rel="icon" href="../バイクアイコン.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h3 class="text-center py-3 border-bottom">Day11 仮組み⑨カウル</h3>
    </header>
    <main class="mb-5">
      <div class="day-container">
        <div class="sentence">
          <br>
          <p>今日でいよいよ仮組み最終回。</p>
          <p>１か月楽しめたな～</p>
          <p>ついにバイクの顔とも言うべきカウルを作ります！</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0922.jpg">
          <br>
          <br>
          <p>おお～</p>
          <p>これがNinjaのご尊顔か、、、</p>
          <br>
          <p><a href="https://www.8190.jp/bikelifelab/notes/trivia/191014_01/" target="_blank" rel="noopener noreferrer">カウル</a>はいわゆる風よけですね。</p>
          <br>
          <br>
          <br>
          <br>
          <h5>そして、</h5>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4>ついに、</h4>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3>カウルを取り付けます！</h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1>バンッ！！</h1>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0924.jpg">
          <br>
          <br>
          <br>
          <h1>デンッ！！</h1>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0928.jpg">
          <br>
          <br>
          <br>
          <h1>にこっ☆</h1>
          <img class=" img-responsive center-block" src="../img/BA-90.jpg" width="20%" height="auto">
          <br>
          <br>
          <h2 class="strong">こ、、これが、Ninja．．．</h2>
          <br>
          <br>
          <p>いや～なかなか完成度高いです。</p>
          <p>今にも走り出しそうな雰囲気ですね。</p>
          <br>
          <br>
          <br>
          <p>さて、次回からついに新章突入です。</p>
          <p>サラリーマン人生初のプラモ塗装に挑戦です。</p>
          <br>
          <p><strong>ここまで読んでいただきありがとうございました！</strong></p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>(てかこれまたバラすのか～～～～～泣)</p>
          <br>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom text-center py-2">
        <a href="day10.html" class="previous">&laquo; 前へ</a>
        <a href="../index.html" class="top mx-5">Top</a>
        <!-- <a href="day3.html" class="next">次へ &raquo;</a> -->
        <a href="../index.html" class="next">次へ &raquo;</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function(){
        'use strict';
        $('[data-toggle="tool-tip"]').tooltip();
      });
    </script>
</body>
</html>