<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BHLRV6D00"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4BHLRV6D00');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjaを作る！</title>
    <link rel="icon" href="../バイクアイコン.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h3 class="text-center py-3 border-bottom">Day15 塗装③エアチャンバー</h3>
    </header>
    <main class="mb-5">
      <div class="day-container">
        <div class="sentence">
          <br>
          <p>今回はエアチャンバーとスーパーチャージャー(ターボ)を塗装していくんですが！</p>
          <p>塗装のためのマスキングを頑張りました！</p>
          <br>
          <br>
          <p>サムネでも載せましたがまずはエアチャンバーをマスキングして塗装してみます。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/airchamber.jpg">
          <br>
          <br>
          <p>塗装したくない部分にマスキングをします。</p>
          <p>そこそこにきれいにマスキングできました。</p>
          <br>
          <p>塗装後がこちら</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0963.jpg">
          <br>
          <br>
          <p>ん～～～やっぱ微妙に境界がはみ出たりしてますね(悲)</p>
          <br>
          <br>
          <br>
          <p>お次はスーパーチャージャー</p>
          <p>塗装後をご覧ください</p>
          <p>マスキングした状態を写真に収めるの忘れてました</p>
          <p>(出来栄えからマスキングの大変さをお察しいただけると幸いです。)</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0964.jpg">
          <br>
          <p>まあまあですね笑</p>
          <br>
          <br>
          <p>さて、いよいよエンジンと合体！</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/engine5.jpg">
          <br>
          <br>
          <p>どうでしょうか、、、</p>
          <p>無機質な構造体にスーパーチャージャーが血潮をみなぎらせていますね。</p>
          <br>
          <p>※Ninjaのバリバリかっこいいエンジンの構造が記載された記事を見つけたのでよろしければご覧ください(<a href="http://www.mr-bike.jp/?p=78970" target="_blank" rel="noopener noreferrer">こちら</a>)</p>
          <br>
          <p>次回はフレームを塗装していきます！</p>
          <br>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom text-center py-2">
        <a href="day14.html" class="previous">&laquo; 前へ</a>
        <a href="../index.html" class="top mx-5">Top</a>
        <a href="day16.html" class="next">次へ &raquo;</a>
        <!-- <a href="../index.html" class="next">次へ &raquo;</a> -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function(){
        'use strict';
        $('[data-toggle="tool-tip"]').tooltip();
      });
    </script>
</body>
</html>