<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BHLRV6D00"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4BHLRV6D00');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjaを作る！</title>
    <link rel="icon" href="../バイクアイコン.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h3 class="text-center py-3 border-bottom">Day23 塗装⑪カウル</h3>
    </header>
    <main class="mb-5">
      <div class="day-container">
        <div class="sentence">
          <br>
          <br>
          <p>ついに最終回!?です。</p>
          <br>
          <br>
          <p>カウル塗装の前にバイクにいろいろデカールで飾りつけしたいと思います。</p>
          <br>
          <br>
          <p>まずはなんといってもNinjaのステッカーですよね。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1204.jpg">
          <br>
          <br>
          <br>
          <p>ん～かっこよい。</p>
          <br>
          <br>
          <p>反対側は今回、、、</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1205.jpg">
          <br>
          <br>
          <br>
          <p>はい、ジ〇ンのエンブレムですね。</p>
          <p>これで世界に一台だけのNinjaですね。</p>
          <br>
          <br>
          <br>
          <p>ほかにもタンクカバーとかにもちょこちょこ飾りつけ。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1206.jpg">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>さて、ここからカウルを塗装していきます！</p>
          <p>塗装前はこんな感じ。</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1132.jpg">
          <br>
          <br>
          <p>このままでも十分良い色なんですが、せっかくのカウル部分を塗らないのはもったいないので塗ります！</p>
          <p>まずはサフを塗布。</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1133.jpg">
          <br>
          <br>
          <br>
          <p>そしてメタルブラックを塗装します。</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1134.jpg">
          <br>
          <br>
          <br>
          <p>つやつや感はなくなりましたがきれいに塗れたと思います。</p>
          <br>
          <br>
          <p>このパーツたちを組み立てます。</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1201.jpg">
          <br>
          <br>
          <br>
          <p>Ninjaのご尊顔がついに創造されます。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1203.jpg">
          <br>
          <br>
          <p>おお～。</p>
          <p>神々しいですね。</p>
          <br>
          <br>
          <br>
          <h4>ついにここまで来ました。</h4>
          <br>
          <br>
          <br>
          <h4>カウル取り付けます。</h4>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/NinjaH2R.jpg">
          <br>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block" src="../img/BA-90.jpg" width="20%" height="auto">
          <br>
          <br>
          <br>
          <p>いや～良いですね。</p>
          <p>カッコいいです。</p>
          <p>リヤ側からも見てみましょう。</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1212.jpg">
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1213.jpg">
          <br>
          <br>
          <p>シックな感じに決まっています。</p>
          <br>
          <br>
          <br>
          <p>さて、長きにわたりお送りしてきた雑記帳～Ninja～もこれにておしまいです。</p>
          <p>ここまで読んでいただきありがとうございました！！</p>
          <br>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1209.jpg">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>(次はガンプラかなぁ...)</p>
          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom text-center py-2">
        <a href="day22.html" class="previous">&laquo; 前へ</a>
        <a href="../index.html" class="top mx-5">Top</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function(){
        'use strict';
        $('[data-toggle="tool-tip"]').tooltip();
      });
    </script>
</body>
</html>