<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjaを作る！</title>
    <link rel="icon" href="../バイクアイコン.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h3 class="text-center py-3 border-bottom">Day2 道具を集める</h3>
    </header>
    <main class="mb-5">
      <div class="day-container">
        <div class="sentence">
          <br>
          <p>さっそく作業開始！道具を探してみると、、、</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0848.jpg">
          <br>
          <br>
          <br>
          <h1>ニッパーしかない！</h1>
          <br>
          <br>
          <br>
          <p>でも大丈夫。ニッパーしかなくても私には<strong class="strong">サラリー</strong>がある。</p>
          <p>さっそく近くのおもちゃ屋さんへGO</p>
          <p>遠目にこちらを見つめる子どもとプラモコーナーで物色してるサラリーマン(私)、、、</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_0845.jpg">
          <br>
          <br>
          <br>
          <h1>デデンッ！！！</h1>
          <br>
          <p>一瞬で買いそろえました！サラリーマン恐るべし。</p>
          <p>(ほんとはエアブラシとか塗装ブースとかそろえたいけど沼にはまりそうなのでここらへんでやめておく。)</p>
          <p>これでやっと組立られる。</p>
          <br>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom text-center py-2">
        <a href="day1.html" class="previous">&laquo; 前へ</a>
        <a href="../index.html" class="top mx-5">Top</a>
        <!-- <a href="day3.html" class="next">次へ &raquo;</a> -->
        <a href="day3.html" class="next">次へ &raquo;</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function(){
        'use strict';
        $('[data-toggle="tool-tip"]').tooltip();
      });
    </script>
</body>
</html>