<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BHLRV6D00"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4BHLRV6D00');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjaを作る！</title>
    <link rel="icon" href="../バイクアイコン.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h3 class="text-center py-3 border-bottom">Day21 塗装⑨フロント廻り2</h3>
    </header>
    <main class="mb-5">
      <div class="day-container">
        <div class="sentence">
          <br>
          <br>
          <p>今日はハンドルとエアダクトを塗装して組み立てます。</p>
          <br>
          <p>ハンドルですが、これはなかなか塗装が大変でした、、、</p>
          <p>まずはスタートライン。サフを塗った後です。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1105.jpg">
          <br>
          <br>
          <p>続いて全体を黒塗りしたあとマスキング。</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1113.jpg">
          <br>
          <br>
          <p>次にシルバーで塗装。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1130.jpg">
          <br>
          <br>
          <p>グリップ部分はグレーにします。</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1131.jpg">
          <br>
          <br>
          <p>最後にバーエンドをシャアレッドで。</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1135.jpg">
          <br>
          <br>
          <br>
          <p>そして完成品が、、、</p>
          <p>こちら！！！</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1136.jpg">
          <br>
          <br>
          <br>
          <br>
          <h1>微妙！！！</h1>
          <br>
          <br>
          <br>
          <p>マスキングテープの残りが上手くはがれてないしなんか汚いですね(悲)。</p>
          <p>グリップ部分はそこそこ上手く塗れてるのでそこ以外は塗りなおしかなぁ。</p>
          <br>
          <br>
          <p>、、、とりあえず組み立ててみます。</p>
          <br>
          <br>
          <p>エアダクトはこんな感じです。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1143.jpg">
          <br>
          <br>
          <p>メッシュ切って貼るのも大変だったな。</p>
          <br>
          <br>
          <p>これらをバイクと合体！</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/front2.jpg">
          <br>
          <br>
          <p>ハンドルの塗装が悪目立ちしてますね。</p>
          <p>細かい塗装は難しい(汗)。</p>
          <br>
          <br>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom text-center py-2">
        <a href="day20.html" class="previous">&laquo; 前へ</a>
        <a href="../index.html" class="top mx-5">Top</a>
        <a href="day22.html" class="next">次へ &raquo;</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function(){
        'use strict';
        $('[data-toggle="tool-tip"]').tooltip();
      });
    </script>
</body>
</html>