<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4BHLRV6D00"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4BHLRV6D00');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjaを作る！</title>
    <link rel="icon" href="../バイクアイコン.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h3 class="text-center py-3 border-bottom">Day20 塗装⑧フロント廻り</h3>
    </header>
    <main class="mb-5">
      <div class="day-container">
        <div class="sentence">
          <br>
          <br>
          <p>今日はバイクのフロント廻りを作っていきます。</p>
          <p>まずはラジエータとウォーターポンプを取り付けます。</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1066.jpg">
          <br>
          <h5>こちら塗装済みです。</h5>
          <br>
          <p>このパーツを前回までに組み立てたパーツと合体させます。</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1069.jpg">
          <br>
          <br>
          <p>かっこいいすね～</p>
          <br>
          <p>お次はフロントホイールを装着します。</p>
          <p>フロントホールは塗装大変でした、、、</p>
          <br>
          <p>まずはあらかじめシルバーに塗装したホイールパーツをマスキングして黒を重ねます。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1061.jpg">
          <br>
          <h5>マスキング</h5>
          <br>
          <h6>↓　↓　↓　↓　↓　↓</h6>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1062.jpg">
          <br>
          <h5>塗装後</h5>
          <br>
          <br>
          <br>
          <p>これをフロントホイールと合体させます。</p>
          <p>(パーツだけ写真載せときます)</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1067.jpg">
          <br>
          <br>
          <br>
          <p>続きましてフロントフェンダーとフロントフォークを塗装します。</p>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1063.jpg">
          <br>
          <br>
          <p>写真手前のいい感じに黒光りしているパーツがフロントフェンダーです。</p>
          <br>
          <p>そしてフロントフォークがこちら</p>
          <p>(さっきの写真だと水色に塗られているパーツ)</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1065.jpg">
          <br>
          <br>
          <p>フロントフォークもマスキング大変でした、、、</p>
          <br>
          <br>
          <p>さて、もろもろのパーツを塗装したのがこちら</p>
          <br>
          <h6>↓　↓　↓　↓　↓　↓</h6>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1068.jpg">
          <br>
          <br>
          <p>あとはこのパーツ群を組み立てて行きます。</p>
          <br>
          <p>フロントフォークを組み立てたのがこちら。</p>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1072.jpg">
          <br>
          <br>
          <p>フロントホイールも合体させると、、、</p>
          <br>
          <h6>↓　↓　↓　↓　↓　↓</h6>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/IMG_1075.jpg">
          <br>
          <br>
          <p>フロントフェンダーのメタルブラックがきまってます。</p>
          <br>
          <br>
          <p>最後に前回までの組み立てた部分と合体させます。</p>
          <br>
          <br>
          <br>
          <img class=" img-responsive center-block day-img" src="../img/front.jpg">
          <br>
          <br>
          <p>かなり形になってきました！</p>
          <p>次回はハンドルを塗装します。</p>
          <p>結構細かい塗装が必要なので大変そう、、、</p>
          <br>
          <br>
          <br>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom text-center py-2">
        <a href="day19.html" class="previous">&laquo; 前へ</a>
        <a href="../index.html" class="top mx-5">Top</a>
        <a href="day21.html" class="next">次へ &raquo;</a>
        <!-- <a href="../index.html" class="next">次へ &raquo;</a> -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      $(function(){
        'use strict';
        $('[data-toggle="tool-tip"]').tooltip();
      });
    </script>
</body>
</html>